<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786350250851-ss8attagkmkl9ki8gdqn24tlpll2b156.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786350250851-ss8attagkmkl9ki8gdqn24tlpll2b156</string>
	<key>API_KEY</key>
	<string>AIzaSyBTQQtJD2HOib-c7IAMR1Hd7BILfznFOaU</string>
	<key>GCM_SENDER_ID</key>
	<string>786350250851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tk.raashed.veho</string>
	<key>PROJECT_ID</key>
	<string>veho-taxi-booking</string>
	<key>STORAGE_BUCKET</key>
	<string>veho-taxi-booking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786350250851:ios:79844f362031decc055156</string>
	<key>DATABASE_URL</key>
	<string>https://veho-taxi-booking-default-rtdb.firebaseio.com</string>
</dict>
</plist>